table {
  width: 100%;
}

.table-container{
  padding-top:1% ;
  padding-left: 2%;
  padding-right: 2%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px; /* Add padding to give space around the components */
  box-sizing: border-box; /* Include padding in the height */
}



.form-heading {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
}
.edit-delete {
  display: flex;
  gap: 8px; /* Add spacing between buttons */
}

.edit-delete button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: #757575;
  transition: color 0.3s ease;
}

.edit-delete button:hover {
  color: #000; /* Change color on hover */
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.circular-span {
  display: inline-block;
  width: 50%; /* Adjust as needed for your desired size */
  height: 50%; /* Adjust as needed for your desired size */
  line-height: 40px; /* Vertical centering of content */
  text-align: center;
  border-radius: 30%; /* Makes the element circular */
  font-weight: bold;
}

.filter-options {
  display: flex;
  gap: 16px;

  margin-top: 10px;
  margin-left: 10px;
}
